/**
 * The main stylesheet for this app
 */

body {
  font-family: 'Source Sans Pro', sans-serif;
}

ul a {
  color: var(--color-grey);
  font-size: 1.2em;
  font-weight: 600;
  transition: color .4s;
  text-decoration: none;
}

ul a:hover {
  color: var(--color-white);
  text-decoration: underline;
}

ul {
  padding: 0;
}

/**
 * Header
 */

.header {
  background-color: var(--color-black);
  padding-top: 20px;
  padding-bottom: 20px;
}

/**
 * Navigation
 */

nav {
  background-color: var(--color-white);
}

nav .logo {
  background-image: url(../TEX/1_radio_logo_white\ .png);
  width: 80px;
  height: 90px;
  background-size: 90px 90px;
  background-repeat: no-repeat;
}

nav ul {
  width: 100%;
  list-style-type: none;
}

nav ul li {
  margin: 0 0 20px 0;
  padding: 0;
  text-align: center;
}

.nav-links {
  display: none;
}

.nav-links.toggled {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  z-index: 1;
}

@media (min-width: 768px) {
  .nav-links {
    display: block;
  }

  nav ul {
    display: flex;
  }

  nav ul a {
    margin-right: 20px;
    padding-right: 20px;
  }

  nav ul li {
    margin-bottom: 0;
  }

  nav ul li:last-of-type a {
    margin-right: 0px;
    padding-right: 0px;
  }
}

/**
 * Navigation Toggle
 */

.nav-toggler {
  display: inline-block;
  cursor: pointer;
  color: var(--color-white);
  z-index: 1;
}

@media (min-width: 768px) {
  .nav-toggler {
    display: none;
  }
}

.nav-toggler .bar1,
.nav-toggler .bar2,
.nav-toggler .bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--color-white);
  margin: 6px 0;
  transition: 0.4s;
  z-index: 1;
}

/* Rotate first bar */
.toggled .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.toggled .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.toggled .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.active {
  color: rgb(255, 255, 255);
}


/**
/* homescreen */
/*live picture*/
.liveveld {
  width: 100%;
  position: relative;
}

.liveveld img {
  width: 100%;
  max-height: 450px;
  object-fit: cover;
}

/*live btn*/
.liveveld .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 32px;
  padding: 24px 48px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.liveveld .btn:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.container{
  padding-left: 0;
  padding-right: 0;
}


/* MAIN */

.livetextcontainer {
  display: flex;
  align-items: center;
  align-self: center;
  padding-left: 45%;
  padding-right: 45%;
  white-space: nowrap;
}
/*
.textlive {                                                                                   M

}
*/

/*containerlive*/

.containerlive {
  display: flex;
  vertical-align: middle;
}

.livetext {
  margin-left: 20px;
  margin-right: 40px;
  font-size: 20px;
}

.titeltext{
font-weight: 700;
}


/*img live*/

.imglive {
  height: 150px;
  width: 150px;
  object-fit: cover;
}



/**
/* host */

.contenthost{
  padding-top: 8%;
  padding-bottom: 10%;
}


/**
/* contact */

input{
  width: 100%;
  margin: 6px 0;
  padding: 20px 20px;
  font-size: 20px;
}

#bericht {
  padding-bottom: 300px;
}

.form  {
  width: 100vh;
  padding-top: 7%;
  padding-bottom: 14%;

}


.button {
  background-color: rgb(112, 112, 112);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.imglogo{
  height: 45px;
  width: auto;
}

.containerlocation{
  padding-left: 10vh;
  padding-right: 10vh;
  display: flex;
  vertical-align: middle;
  padding-top: 30%;
}

.locationtext{
  margin-left: 20px;
}

.sociallogo{
  height: 45px;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
}